
# Variaves de ambiente usados pela aplicação
JWT_SECRET_KEY=segredo seu igual ao do frontend

# usando sqlite no desenvolvimento
#SQLALCHEMY_DATABASE_URI=sqlite:///data.db

# usando postgresql no localhost
#SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://<login>:<password>@localhost/<db>?client_encoding=utf8

# usando postgresql com okteto em produção (pegar os dados ao implantar o postgres no okteto)
#SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://<login>:<password>@postgresql.<username_okteto>.svc.cluster.local/<db_okteto>?client_encoding=utf8
